.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
}

.login {
  min-height: 50vh;
  width: 400px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login > button {
  width: 80%;
  background-color: #2e81f4 ;
  color: #eff2f5;
  font-weight: 800;
  margin-bottom: 25px;
}
.login > button:hover {
  background-color: #6fa4ee ;
}


@media (max-width : 900px) {
  .login {
    width: 70%;
  }
}
@media (max-width : 500px) {
  .login {
    width: 80%;
  }
}